@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #5ce1e645;
    --nav: #262c38;
    --light-blue: #5ce1e6;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--main-color);
    color: var(--white);
}

header{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--white);
    z-index: 1;
}

.logo img{
    width: 200px;
}

.search-bar{
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 14px;
    background-color: var(--white);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-bar:hover input{
    width: 300px;
}

.search-bar input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    background-color: transparent;
    transition: 0.8s;
}

.search-bar .fas{
    color: var(--nav);
    font-size: 18px;
    padding-top: 5px;
    padding-left: 5px;
}

.login{
    cursor: pointer;
    width: 120px;
    color: var(--white);
    background-color: var(--nav);
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: ease 0.3s;
}
.login a{
    display: flex;
}

.login:hover{
    transform: scale(0.9);
}

.login button{
    background-color: transparent;
    border: none;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}

.login .bx{
    margin-right: 5px;
    color: var(--white);
    font-size: 30px;
}

@media (max-width: 780px){
    .search-bar:hover input{
        width: 200px;
    }
    .login{
        width: 100px;
        padding: 7px 10px;
    }
}

@media (max-width: 680px){
    .search-bar{
        height: 45px;
        padding: 6px 10px;
    }
    .search-bar:hover input{
        width: 150px;
    }
    .search-bar .fas{
        font-size: 16px;
        padding-top: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 510px){
    header{
        height: 70px;
    }
    .search-bar:hover input{
        width: 150px;
    }

    .search-bar{
        max-width: 250px;
    }

    .login{
        max-width: 180px;
    }

    .logo img{
        width: 180px;
    }
    .login{
        width: 50px;
        padding: 10px 10px;
    }
    .login button{
        display: none;
    }
    .login .bx{
        padding-right: 30px;
        font-size: 30px;
    }
}